@font-face {
    font-family: pacifico;
    src: url(../fonts/pacifico-webfont.woff2),
        url(../fonts/pacifico-webfont.woff);
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-regular-webfont.woff2),
        url(../fonts/quicksand-regular-webfont.woff);
    font-weight: normal;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-bold-webfont.woff2),
        url(../fonts/quicksand-bold-webfont.woff);
    font-weight: bold;
}


:root {
    --red50: #fef2f2;
    --red100: #fee2e2;
    --red200: #fecaca;
    --red300: #fca5a5;
    --red400: #f87171;
    --red500: #ef4444;
    --red600: #dc2626;
    --red700: #b91c1c;
    --red800: #991b1b;
    --red900: #7f1d1d;
    --red950: #450a0a;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--red800);
}

body {
    min-height: 100vh;
    padding: 32px 16px;
    display: grid;
    grid-template-columns: 200px minmax(500px, 600px) 200px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    "player1 center player2"
    ". footer .";
    justify-content: center;
    background-color: var(--red50);
}

#player1 {
    grid-area: player1;
}

#player2 {
    grid-area: player2;
}

#player1, 
#player2 {
    padding-top: 64px;
    display: grid;
    grid-auto-rows: min-content;
    gap: 16px;
    justify-items: center;
    font-family: quicksand, sans-serif;
    input {
        border: none;
        border-bottom: 1px solid var(--red500);
        width: 100%;
        font-family: quicksand, sans-serif;
        font-size: 1.2rem;
        padding: 6px 12px;
        text-align: center;
        background-color: var(--red50);
    }
}

input:focus,
input:hover {
    outline: none;
    box-shadow: 0px 5px 5px var(--red200);
}

button {
    appearance: none;
    font-family: quicksand, sans-serif;
    background-color: var(--red50);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 6px 12px;
    border: 2px solid;
    border-radius: 6px;
}

button:hover {
    box-shadow: 1px 2px 2px;
}
button:active {
    background-color: var(--red200);
}

h3 {
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
}

#center {
    grid-area: center;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 16px;
}

#center > div {
    display: grid;
    grid-template-rows: min-content 1fr;
}
#winner-display {
    height: 64px;
    font-size: 2rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h1, h2 {
    font-family: pacifico, sans-serif;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    background-color: var(--red300);
    width: min-content;
    border-radius: 24px;
}

ul li {
    list-style: none;
    background-color: var(--red500);
    font-family: quicksand, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    color: var(--red50);

}

ul li:hover {
    background-color: var(--red400);
}

li:nth-of-type(1) {
    border-top-left-radius: 24px;
}

li:nth-of-type(3) {
    border-top-right-radius: 24px;
}

li:nth-of-type(7) {
    border-bottom-left-radius: 24px;
}

li:nth-of-type(9) {
    border-bottom-right-radius: 24px;
}

footer {
    grid-area: footer;
    align-self: end;
    justify-self: center ;
    font-family: quicksand, sans-serif;
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}